body {
  overflow: hidden;
}

.bg1 {
  width: 100%;
  height: 528px;
  background: url(//img.juxiangyou.com/common/activity/fish-special/2.0/bg1.jpg) no-repeat top center;
}

.bg2 {
  width: 100%;
  height: 528px;
  background: url(//img.juxiangyou.com/common/activity/fish-special/2.0/bg2.jpg) no-repeat top center;
}

.bg3 {
  width: 100%;
  height: 528px;
  background: url(//img.juxiangyou.com/common/activity/fish-special/2.0/bg3.jpg) no-repeat top center;
}

.bg4 {
  width: 100%;
  height: 528px;
  background: url(//img.juxiangyou.com/common/activity/fish-special/2.0/bg4.jpg) no-repeat top center;
}

.bg5 {
  width: 100%;
  height: 528px;
  background: url(//img.juxiangyou.com/common/activity/fish-special/2.0/bg5.jpg) no-repeat top center;
}

.main {
  position: relative;
}

.main .width-1180 {
  z-index: 1;
}

/*大炮层样式*/
.cannon-layer {
  width: 828px;
  position: absolute;
  top: 14px;
  left: 176px;
  z-index: 2;
}

.cannon-layer .each-cannon {
  width: 108px;
  height: 146px;
  position: absolute;
}

.cannon-layer .each-cannon .cannon-base {
  width: 108px;
  height: 66px;
  position: absolute;
  background: url(//img.juxiangyou.com/common/activity/fish-special/2.0/cannon.png) no-repeat 0 0;
  z-index: 2;
}

.cannon-layer .each-cannon .cannon-barrel {
  width: 79px;
  height: 113px;
  position: absolute;
  background: url(//img.juxiangyou.com/common/activity/fish-special/2.0/cannon.png) no-repeat 0 -66px;
  z-index: 1;
}

.cannon-layer .each-cannon.up .cannon-base {
  background-position: -108px 0;
  top: 0;
  left: 0;
}

.cannon-layer .each-cannon.up .cannon-barrel {
  background-position: -108px -66px;
  top: 30px;
  left: 14px;
  transform-origin: top center;
}

.cannon-layer .each-cannon.down .cannon-base {
  background-position: 0 0;
  top: 80px;
  left: 0;
}

.cannon-layer .each-cannon.down .cannon-barrel {
  background-position: 0 -66px;
  top: 0;
  left: 15px;
  transform-origin: bottom center;
}

.cannon-layer .c1 {
  top: 0;
  left: 15px;
}

.cannon-layer .c2 {
  top: 0;
  left: 707px;
}

.cannon-layer .c3 {
  top: 655px;
  left: 15px;
}

.cannon-layer .c4 {
  top: 655px;
  left: 707px;
}

.cannon-layer .c1 .cannon-barrel {
  animation: cb1-rotate 2s linear infinite alternate
}

.cannon-layer .c2 .cannon-barrel {
  animation: cb2-rotate 2s linear infinite alternate
}

.cannon-layer .c3 .cannon-barrel {
  animation: cb1-rotate 2s linear infinite alternate
}

.cannon-layer .c4 .cannon-barrel {
  animation: cb2-rotate 2s linear infinite alternate
}

@keyframes cb1-rotate {
  from {
    transform: rotate(15deg);
  }
  to {
    transform: rotate(-15deg);
  }
}

@keyframes cb2-rotate {
  from {
    transform: rotate(-15deg);
  }
  to {
    transform: rotate(15deg);
  }
}

/*鱼层*/
.fish-layer {
  position: relative;
  z-index: 1;
}

.fish-layer .static-fish {
  display: block;
  background: url(//img.juxiangyou.com/common/activity/fish-special/2.0/static_fish.png) no-repeat;
  position: absolute;
}

.fish-layer .fish1 {
  width: 117px;
  height: 142px;
  background-position: 0 0;
  top: 205px;
  left: -150px;
  animation: fish1-translate 25s linear infinite;
}

@keyframes fish1-translate {
  0%{ transform: translate(-200px); opacity: 0 }
  10%{ transform: translate(0px); opacity: 1 }
  80%{  transform: translate(1400px); opacity: 1 }
  90%{  transform: translate(1600px); opacity: 0 }
  100%{ transform: translate(1600px); opacity: 0 }
}

.fish-layer .fish2 {
  width: 82px;
  height: 50px;
  background-position: 0 -142px;
  top: 332px;
  left: 30px;
  transform: translate(-480px);
  animation: fish2-translate 28s linear 5s infinite;
}

@keyframes fish2-translate {
  0%{ transform: translate(-480px); }
  7.1%{ transform: translate(-281px); }
  14.2%{ transform: translate(-82px); }
  21.3%{ transform: translate(117px); }
  28.4%{ transform: translate(316px); }
  35.5%{ transform: translate(515px); }
  42.6%{ transform: translate(714px); }
  49.7%{ transform: translate(913px); }
  56.8%{ transform: translate(1112px); }
  63.9%{ transform: translate(1311px); }
  71%{ transform: translate(1510px); }
  78.1%{ transform: translate(1510px); }
  85.2%{ transform: translate(1510px); }
  92.3%{ transform: translate(1510px); }
  100%{ transform: translate(1510px); }
}

.fish-layer .fish3 {
  width: 194px;
  height: 56px;
  background-position: 0 -192px;
  top: 576px;
  left: 232px;
  transform: translate(-790px);
  animation: fish3-translate 30s linear 5s infinite;
}

@keyframes fish3-translate {
  0%{ transform: translate(-790px); }
  3.4%{ transform: translate(-790px); }
  6.8%{ transform: translate(-790px); }
  10.2%{ transform: translate(-790px); }
  17%{ transform: translate(-790px); }
  20.4%{ transform: translate(-685px); }
  23.8%{ transform: translate(-580px); }
  27.2%{ transform: translate(-475px); }
  30.6%{ transform: translate(-370px); }
  34%{ transform: translate(-265px); }
  37.4%{ transform: translate(-160px); }
  40.8%{ transform: translate(-55px); }
  44.2%{ transform: translate(50px); }
  47.6%{ transform: translate(155px); }
  51%{ transform: translate(260px); }
  54.4%{ transform: translate(365px); }
  57.8%{ transform: translate(470px); }
  61.2%{ transform: translate(575px); }
  64.6%{ transform: translate(680px); }
  68%{ transform: translate(785px); }
  71.4%{ transform: translate(890px); }
  74.8%{ transform: translate(995px); }
  78.2%{ transform: translate(1100px); }
  81.6%{ transform: translate(1205px); }
  85%{ transform: translate(1310px); }
  88.4%{ transform: translate(1310px); }
  91.8%{ transform: translate(1310px); }
  95.2%{ transform: translate(1310px); }
  100%{ transform: translate(1310px); }
}

.fish-layer .fish4 {
  width: 181px;
  height: 234px;
  background-position: 0 -385px;
  top: 615px;
  left: 660px;
  transform: translate(-770px); 
  opacity: 0;
  animation: fish4-translate 30s linear infinite;
}

@keyframes fish4-translate {
  0%{ transform: translate(-700px); opacity: 0 }
  5.3%{ transform: translate(-700px); opacity: 0 }
  10.6%{ transform: translate(-700px); opacity: 0 }
  15.9%{ transform: translate(-700px); opacity: 0 }
  21.2%{ transform: translate(-700px); opacity: 0 }
  26.5%{ transform: translate(-570px); opacity: 1 }
  31.8%{ transform: translate(-440px); opacity: 1 }
  37.1%{ transform: translate(-310px); opacity: 1 }
  42.4%{ transform: translate(-180px); opacity: 1 }
  47.7%{ transform: translate(-50px); opacity: 1 }
  53%{ transform: translate(80px); opacity: 1 }
  58.3%{ transform: translate(210px); opacity: 1 }
  63.6%{ transform: translate(340px); opacity: 1 }
  68.9%{ transform: translate(470px); opacity: 0 }
  74.2%{ transform: translate(470px); opacity: 0 }
  79.5%{ transform: translate(470px); opacity: 0 }
  84.8%{ transform: translate(470px); opacity: 0 }
  90.1%{ transform: translate(470px); opacity: 0 }
  95.4%{ transform: translate(470px); opacity: 0 }
  100%{ transform: translate(470px); opacity: 0 }
}

.fish-layer .fish5 {
  width: 190px;
  height: 137px;
  background-position: 0 -248px;
  top: 298px;
  right: -75px;
  animation: fish5-translate 35s linear infinite;
}

@keyframes fish5-translate {
  0%{ transform: translate(275px); opacity: 0 }
  5.3%{ transform: translate(275px); opacity: 0 }
  10.6%{ transform: translate(275px); opacity: 0 }
  15.9%{ transform: translate(275px); opacity: 0 }
  21.2%{ transform: translate(275px); opacity: 0 }
  26.5%{ transform: translate(275px); opacity: 0 }
  31.8%{ transform: translate(275px); opacity: 0 }
  37.1%{ transform: translate(0px); opacity: 1 }
  42.4%{ transform: translate(-275px); opacity: 1 }
  47.7%{ transform: translate(-550px); opacity: 1 }
  53%{ transform: translate(-825px); opacity: 1 }
  58.3%{ transform: translate(-1100px); opacity: 1 }
  63.6%{ transform: translate(-1375px); opacity: 1 }
  68.9%{ transform: translate(-1650px); opacity: 0 }
  74.2%{ transform: translate(-1650px); opacity: 0 }
  79.5%{ transform: translate(-1650px); opacity: 0 }
  84.8%{ transform: translate(-1650px); opacity: 0 }
  90.1%{ transform: translate(-1650px); opacity: 0 }
  95.4%{ transform: translate(-1650px); opacity: 0 }
  100%{ transform: translate(-1650px); opacity: 0 }
}

.fish-layer .fish6 {
  width: 62px;
  height: 45px;
  background-position: 0 -619px;
  top: 441px;
  left: 1321px;
  animation: fish6-translate 36s linear infinite;
}

@keyframes fish6-translate {
  0%{ transform: translate(220px); }
  6.7%{ transform: translate(220px); }
  13.4%{ transform: translate(0); }
  20.1%{ transform: translate(-220px); }
  26.8%{ transform: translate(-440px); }
  33.5%{ transform: translate(-660px); }
  40.2%{ transform: translate(-880px); }
  46.9%{ transform: translate(-1100px); }
  53.6%{ transform: translate(-1320px); }
  60.3%{ transform: translate(-1540px); }
  67%{ transform: translate(-1760px); }
  73.7%{ transform: translate(-1760px); }
  80.4%{ transform: translate(-1760px); }
  87.1%{ transform: translate(-1760px); }
  93.8%{ transform: translate(-1760px); }
  100%{ transform: translate(-1760px); }
}

.fish-layer .dynamic-fish {
  position: absolute;
}

.fish-layer .dynamic-fish .fish {
  display: block;
  background: url(http://img.juxiangyou.com/common/activity/fish-special/2.0/dynamic_fish.png) no-repeat;
}

.fish-layer .dynamic-fish.dfish1 {
  top: 180px;
  left: 0;
  animation: dfish1-translate 36s linear infinite;
}

.fish-layer .dynamic-fish.dfish1 .fish {
  width: 110px;
  height: 111px;
  background-position: 0 0;
  animation: dfish1-swing .5s steps(1,start) infinite alternate;
}

@keyframes dfish1-swing {
  0%{ background-position: 0 0; }
  33.3%{ background-position: -110px 0; }
  66.6%{ background-position: -220px 0; }
  100%{ background-position: -330px 0; }
}

@keyframes dfish1-translate {
  0%{ transform: translate(-470px); }
  9.1%{ transform: translate(-470px); }
  18.2%{ transform: translate(-470px); }
  27.3%{ transform: translate(-470px); }
  36.4%{ transform: translate(0); }
  45.5%{ transform: translate(470px); }
  54.6%{ transform: translate(940px); }
  63.7%{ transform: translate(1410px); }
  72.8%{ transform: translate(1880px); }
  81.9%{ transform: translate(1880px);  }
  91%{ transform: translate(1880px);  }
  100%{ transform: translate(1880px);  }
}

.fish-layer .dynamic-fish.dfish2 {
  top: 445px;
  left: -120px;
  animation: dfish2-translate 36s linear infinite;
}

.fish-layer .dynamic-fish.dfish2 .fish {
  width: 105px;
  height: 56px;
  background-position: 0 -111px;
  animation: dfish2-swing .5s steps(1,start) infinite alternate;
}

@keyframes dfish2-swing {
  0%{ background-position: 0 -111px; }
  25%{ background-position: -105px -111px; }
  50%{ background-position: -210px -111px; }
  75%{ background-position: -315px -111px; }
  100%{ background-position: -420px -111px; }
}

@keyframes dfish2-translate {
  0%{ transform: translate(-350px); }
  16.7%{ transform: translate(0); }
  33.4%{ transform: translate(350px); }
  50.1%{ transform: translate(700px); }
  66.8%{ transform: translate(1050px); }
  83.5%{ transform: translate(1400px); }
  100%{ transform: translate(1750px); }
}

.fish-layer .dynamic-fish.dfish3 {
  top: 668px;
  left: -400px;
  animation: dfish3-translate 36s linear infinite;
}

.fish-layer .dynamic-fish.dfish3 .fish {
  width: 368px;
  height: 107px;
  background-position: 0 -167px;
  animation: dfish3-swing .5s steps(1,start) infinite alternate;
}

@keyframes dfish3-swing {
  0%{ background-position: 0 -167px; }
  33.3%{ background-position: -368px -167px; }
  66.6%{ background-position: 0 -274px; }
  100%{ background-position: -368px -274px; }
}

@keyframes dfish3-translate {
  0%{ transform: translate(0); opacity: 0 }
  8.3%{ transform: translate(0); opacity: 0 }
  16.6%{ transform: translate(200px); opacity: 1 }
  24.9%{ transform: translate(400px); opacity: 1 }
  33.2%{ transform: translate(600px); opacity: 1 }
  41.5%{ transform: translate(800px); opacity: 1 }
  49.8%{ transform: translate(1000px); opacity: 1 }
  58.1%{ transform: translate(1200px); opacity: 1 }
  66.4%{ transform: translate(1400px); opacity: 1 }
  74.7%{ transform: translate(1600px); opacity: 1  }
  83%{ transform: translate(1800px); opacity: 1  }
  91.3%{ transform: translate(2000px); opacity: 0  }
  100%{ transform: translate(2000px); opacity: 0  }
}

.fish-layer .dynamic-fish.dfish4 {
  top: 550px;
  left: 1180px;
  *left: 1152px;
  animation: dfish4-translate 36s linear infinite;
}

.fish-layer .dynamic-fish.dfish4 .fish {
  width: 368px;
  height: 107px;
  background-position: 0 -381px;
  animation: dfish4-swing .5s steps(1,start) infinite alternate;
}

@keyframes dfish4-swing {
  0%{ background-position: 0 -381px; }
  33.3%{ background-position: -368px -381px; }
  66.6%{ background-position: 0 -488px; }
  100%{ background-position: -368px -488px; }
}

@keyframes dfish4-translate {
  0%{ transform: translate(360px); }
  11.1%{ transform: translate(0); }
  22.2%{ transform: translate(-360px); }
  33.3%{ transform: translate(-720px); }
  44.4%{ transform: translate(-1080px); }
  55.5%{ transform: translate(-1440px); }
  66.6%{ transform: translate(-1800px); }
  77.7%{ transform: translate(-2160px); }
  88.8%{ transform: translate(-2160px); }
  100%{ transform: translate(-2160px);  }
}

/*泡泡层*/
.bubble-layer {
  position: relative;
  z-index: 3;
}

.bubble-layer > i {
  display: block;
  position: absolute;
  background: url(//img.juxiangyou.com/common/activity/fish-special/2.0/bubble.png) no-repeat 0 0;
}

.bubble-layer .small-bubble {
  width: 15px;
  height: 15px;
  background-position: 0 -41px;
  animation: bubble-s 2s linear infinite;
}

.bubble-layer .middle-bubble {
  width: 17px;
  height: 18px;
  background-position: 0 -23px;
  animation: bubble-s 3s linear infinite;
}

.bubble-layer .big-bubble {
  width: 21px;
  height: 23px;
  background-position: 0 0;
  animation: bubble-s 4s linear infinite;
}

@keyframes bubble-s {
  0%{ transform: translateY(50px); opacity: 0; }
  25%{ transform: translateY(0); opacity: 1; }
  50%{ transform: translateY(-50px); opacity: 1; }
  75%{ transform: translateY(-100px); opacity: 1; }
  100%{ transform: translateY(-150px); opacity: 0; }
}

.bubble-layer .bubble1 {
  top: 770px;
  left: 100px;
}

.bubble-layer .bubble2 {
  top: 500px;
  left: 80px;
}

.bubble-layer .bubble3 {
  top: 300px;
  left: 120px;
}

.bubble-layer .bubble4 {
  top: 600px;
  left: 550px;
  animation-duration: 3s;
}

.bubble-layer .bubble5 {
  top: 400px;
  left: 520px;
  animation-duration: 2.5s;
}

.bubble-layer .bubble6 {
  top: 200px;
  left: 580px;
  animation-duration: 5s;
}

.bubble-layer .bubble7 {
  top: 700px;
  left: 1050px;
  animation-duration: 1.8s;
}

.bubble-layer .bubble8 {
  top: 450px;
  left: 1100px;
  animation-duration: 4.2s;
}

.bubble-layer .bubble9 {
  top: 200px;
  left: 1000px;
  animation-duration: 3s;
}

/*遮挡前景层*/
.cover-layer {
  position: relative;
  z-index: 4;
}

.cover-layer .cover-bg1 {
  width: 547px;
  height: 504px;
  background: url(//img.juxiangyou.com/common/activity/fish-special/2.0/cover_bg1.png) no-repeat 0 0;
  position: absolute;
  top: 577px;
  left: -362px;
}

.cover-layer .cover-bg2 {
  width: 114px;
  height: 160px;
  background: url(//img.juxiangyou.com/common/activity/fish-special/2.0/cover_bg2.png) no-repeat 0 0;
  position: absolute;
  top: 731px;
  left: 142px;
}

.cover-layer .cover-bg3 {
  width: 120px;
  height: 169px;
  background: url(//img.juxiangyou.com/common/activity/fish-special/2.0/cover_bg3.png) no-repeat 0 0;
  position: absolute;
  top: 715px;
  left: 933px;
}

/*奖品层*/
.prize-layer {
  position: relative;
  z-index: 5;
}

.prize-layer .prize {
  background: url(//img.juxiangyou.com/common/activity/fish-special/2.0/prize.png) no-repeat;
  position: absolute;
}

.prize-layer .p1 {
  width: 298px;
  height: 295px;
  background-position: 0 0;
  top: 276px;
  left: 102px;
  animation: prize-translate 7s linear infinite alternate;
}

.prize-layer .p2 {
  width: 394px;
  height: 408px;
  background-position: 0 -295px;
  top: 257px;
  left: 408px;
  animation: prize-translate 9s linear infinite alternate;
}

.prize-layer .p3 {
  width: 281px;
  height: 353px;
  background-position: 0 -703px;
  top: 295px;
  left: 785px;
  animation: prize-translate 6s linear infinite alternate;
}

@keyframes prize-translate {
  0%{ transform: translateY(-10px) }
  33.3%{ transform: translateY(0) }
  66.6%{ transform: translateY(10px) }
  100%{ transform: translateY(0) }
}

/*评论层*/
.comment-layer {
  width: 100%;
  height: 279px;
  background: url(//img.juxiangyou.com/common/activity/fish-special/2.0/comment_bg.png) no-repeat top center;
  padding-top: 94px;
  position: absolute;
  top: 750px;
  z-index: 2;
  overflow: hidden;
}

.comment-layer .comment-list {
  display: block;
  width: 100%;
  height: 272px;
  background: url(//img.juxiangyou.com/common/activity/fish-special/2.0/comment_list.png) no-repeat 0 0;
  float: left;
  /*animation: cmlist-py 30s linear infinite;*/
}

.comment-layer .comment-list .list1 {
  background-position: 0 0;
}

.comment-layer .comment-list .list2 {
  background-position: 0 -1920px;
}

.comment-layer .comment-list .list3 {
  background-position: 0 -3840px;
}